<div class="bodyContainer">
  <h1>Lista de Tareas</h1>
  @for (tarea of listadeTareas; track tarea;let i = $index ) {
  <div class="listContainer">
    <ul>
      <div class="taskContainer">
        <h2>{{ tarea }}</h2>
        <button class="btnDeletetTask" (click)="eliminarTarea(i)">
          Eliminar
        </button>
      </div>
    </ul>
  </div>

  }
  <div class="newTaskContainer">
    <input type="text" placeholder="Nueva Tarea" [(ngModel)]="nuevatarea" />
    <button (click)="agregarTarea()">Agregar</button>
  </div>
</div>
<router-outlet />
